# Arquivos e diretórios ignorados pelo Git para o projeto ARIT

# IDEs e editores
/.idea/

# Binários compilados
*.exe
arit
*.md
*.clj
*.html

# Arquivos temporários
*.tmp
*.log

# Arquivos de configuração local
.arit.local.yaml

# Diretórios de teste e documentação
teste/
docs/
Common-Metadata-Repository/
clj-smells-catalog/

# Configurações do editor
.vscode/
*.swp           # Arquivos temporários do Vim
*.swo           # Arquivos temporários do Vim
*~              # Arquivos de backup
.DS_Store       # Arquivos do macOS
/.lsp/
/.clj-kondo/
/output_test/
/testes/
.arit.yaml
arit
